{% extends 'events/base.html' %}

{% block title %}My Club - Login{% endblock title %}

{% block content %}
<h1>Login</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ messages.get_messages }}
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelp">
        <div id="usernameHelp" class="form-text text-dark">Enter your user name.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-secondary">Log in</button>
</form>
{% endblock %}