{% extends 'events/base.html' %}

{% block title %}My Club - Register{% endblock title %}

{% block content %}

{% if form.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <p>There was an error with your form...</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endif %}
<div class="shadow p-4 mb-5 bg-body rounded">
    <h1>Register</h1>

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {{ messages.get_messages }}
        {{ form.as_p }}
        <button type="submit" class="btn btn-secondary">Register</button>
    </form>
</div>
{% endblock %}