{% load custom_tags %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'website:index' %}">Simon Cateau</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <!-- {% url 'website:index' as url %} -->
          <a {% active_link  'website:index' 'nav-link' %} href="{% url 'website:index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a {% active_link  'website:about' 'nav-link' %} href="{% url 'website:about'  %}">About Me</a>
        </li>
        <li class="nav-item">
          <a {% active_link  'website:contact' 'nav-link' %} href="{% url 'website:contact' %}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
