{% extends 'events/base.html' %}

{% block title %}Add an event{% endblock title %}

{% block content %}
<div class="mb-3">
  {% if user.is_authenticated %}

  <h1 class="mb-5">Add Event</h1>

  <!-- <br><br> -->
  {% if submitted %}
  <p>Your event was submitted successfully!!</p>
  {% else %}
  <form class="text-start" action="" method="post">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>
  {% endif %}
  {% else %}
  <h1 class="mb-5">Sorry! You must be Logged in to view this page...</h1>
  <a class="" href="{% url 'login' %}">Login Here.</a>
  {% endif %}
</div>
{% endblock content %}