{% extends 'events/base.html' %}

{% block styles %}
<style>
  label {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important
  }
</style>
{% endblock styles %}


{% block title %}Add a venue{% endblock title %}

{% block content %}
<div class="" style="text-align: center;">
  {% if user.is_authenticated %}
  <h1>Add Venue to Database</h1>
  <br><br>
  {% if submitted %}
  <p>Your venue was submitted successfully!!</p>
  {% else %}
  <form class="text-start" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.as_p }}
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>
  {% endif %}

  {% else %}
  <h1 class="mb-5">Sorry! You must be Logged in to view this page...</h1>
  <a class="" href="{% url 'login' %}">Login Here.</a>
  {% endif %}
</div>
{% endblock content %}