{% extends 'events/base.html' %} {% block title %}My Club - Admin Events Portal{% endblock title %} {% block content %}
<h1 class="mb-3">Admin Dashboard</h1>

<form action="{% url 'events.admin_approval' %}" method="post">
    {% csrf_token %}
    <div class="card">
        <div class="card-header">
            Event - Venue - User Count List
        </div>
        <div class="card-body">
            <p class="card-text">Event Count: {{ event_count }}</p>
            <p class="card-text"></p>Venue Count: {{ venue_count }}</p>
            <p class="card-text"></p>User Count: {{ user_count }}</p>
        </div>
    </div>
    <div class="my-5">
        <table class="table table-striped table-hover table-bordered mb-3">
            <thead>
                <tr>
                    <th scope="col">Venue Name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for venue in venue_list %}
                <tr>
                    <td>
                        <a href="{% url 'events.venues.show' venue.id %}">{{ venue }}</a>
                    </td>
                    <td>
                        <a href="{% url 'events.venues.events_list' venue.id %}" class="btn btn-sm btn-secondary">Event List</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="mb-3">
        <h1>Event Approval Form</h1>
    </div>
    <br />
    <table class="table table-striped table-hover table-bordered mb-3">
        <thead>
            <tr>
                <th scope="col">Event Name</th>
                <th scope="col">Approved</th>
            </tr>
        </thead>
        <tbody>
            {% for event in event_list %}
            <tr>
                <td>{{ event }}</td>
                <td>
                    {% if event.approved %}
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" checked="checked" value="{{event.id}}" name="boxes[]" aria-label="Event {{ event }} has been approved" />
                    </div>
                    {% else %}
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" value="{{event.id}}" name="boxes[]" aria-label="Event {{ event }} has not been approved" />
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <button type="submit" class="brn btn-secondary">Update Approval</button>

</form>
{% endblock %}