{% extends 'events/base.html' %}


{% block title %}Event: {{ event }}{% endblock title %}


{% block content %}
<div class="card mb-5">
    <div class="card-header">{{event}}</div>
    <h5 class="card-title mt-3 mx-3">Venue: {{event.venue}}</h5>
    <p class="card-text">
    <ul>
        <li><strong>Date:</strong> {{event.event_date}}</li>
        <li><strong>Days until the event:</strong> {{event.Days_ago}}</li>
        <li><strong>Time to event:</strong> {{event.event_date|timeuntil}}</li>
        <li><strong>Occured?</strong> {{event.Is_Past_Event_Text}}</li>
        <li><strong>Venue Website:</strong> {{event.venue.web}}</li>
        <li><strong>Manager:</strong> {{event.manager}}</li>
        <li><strong>Description:</strong> {{event.description}}</li>
        <li><strong>Approved:</strong> {{event.approved}}</li>
        <li><strong>Attendees:</strong><br>
            {% for user in event.attendees.all %}
            {{user}}<br>
            {% endfor %}</li>
    </ul>
    </p>
    {% if user.is_authenticated and user == event.manager %}<div class="card-footer text-muted"><a href="{% url 'events.update' event.id %}" class="btn btn-outline-secondary btn-sm ">Update Event</a>
        <form action="{% url 'events.delete' event.id %}" method="post" onsubmit="return confirm('Do you really want to delete this event?');" class="d-inline">{% csrf_token %}<button type="submit" class="btn btn-outline-danger btn-sm mx-3">Delete Event</a></form>
    </div>{% endif %}
</div>
{% endblock content %}