<footer>
    <br><br><br><br>
    {% if current_year %}
    <p class="text-center">Copyright &copy; {{ current_year }}</p>
    {% else %}
    <p class="text-center">Copyright &copy; {% now 'Y' %}</p>
    {% endif %}
</footer>