{% extends 'events/base.html' %}


{% block content %}
<div class="d-flex flex-column justify-content-center text-center">
    <h1 class="mb-3">Hello {{ name }}! Events For {{ month }} {{ year }}</h1>

    <span class="mb-2">As of {{ time }}</span><br><br><br>

    {{ cal|safe }}
    <hr class="my-5 border-2" />
    <div class="text-start">
        <h2 class="mt-3 mb-3 text-capitalize h3">Events this Month...</h2>

        {% for event in event_list %}
        <div class="card mb-5">
            <div class="card-header">{{event}}</div>
            <h5 class="card-title mt-3 mx-3">Venue: {{event.venue}}</h5>
            <p class="card-text">
            <ul>
                <li><strong>Date:</strong> {{event.event_date}}</li>
                <li><strong>Venue Website:</strong> {{event.venue.web}}</li>
                <li><strong>Manager:</strong> {{event.manager}}</li>
                <li><strong>Description:</strong> {{event.description}}</li>
                <li><strong>Attendees:</strong><br>
                    {% for user in event.attendees.all %}
                    {{user}}<br>
                    {% endfor %}</li>
            </ul>
            </p>
            {% if user.is_authenticated and user == event.manager %}<div class="card-footer text-muted"><a href="{% url 'events.update' event.id %}" class="btn btn-outline-secondary btn-sm ">Update Event</a>
                <form action="{% url 'events.delete' event.id %}" method="post" onsubmit="return confirm('Do you really want to delete this event?');" class="d-inline">{% csrf_token %}<button type="submit" class="btn btn-outline-danger btn-sm mx-3">Delete Event</a></form>
            </div>{% endif %}
        </div>
        {% empty %}
        <p class="text-c">Sorry... There are no events this month...</p>
        {% endfor %}
    </div>
</div>

{% endblock %}


{% block styles %}
<style>
    .month {
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
    }

    .month th:first-child {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-block: 5px;
    }

    .month th {
        padding-left: 5px;
        padding-right: 5px;
        padding-inline: 5px;
    }
</style>
{% endblock styles  %}