{% extends 'events/base.html' %}

{% block title %}My Events{% endblock title %}

{% block content %}
<h1 class="mb-3">My Events</h1>

{% for event in my_events %}
<div class="card mb-5">
    <div class="card-header">{{event}}</div>
    <h5 class="card-title mt-3 mx-3">Venue: {{event.venue}}</h5>
    <p class="card-text">
    <ul>
        <li><strong>Date:</strong> {{event.event_date}}</li>
        <li><strong>Venue Website:</strong> {{event.venue.web}}</li>
        <li><strong>Manager:</strong> {{event.manager}}</li>
        <li><strong>Description:</strong> {{event.description}}</li>
        <li><strong>Attendees:</strong><br>
            {% for user in event.attendees.all %}
            {{user}}<br>
            {% endfor %}</li>
    </ul>
    </p>
    {% if user.is_authenticated and user == event.manager %}<div class="card-footer text-muted"><a href="{% url 'events.update' event.id %}" class="btn btn-outline-secondary btn-sm ">Update Event</a>
        <form action="{% url 'events.delete' event.id %}" method="post" onsubmit="return confirm('Do you really want to delete this event?');" class="d-inline">{% csrf_token %}<button type="submit" class="btn btn-outline-danger btn-sm mx-3">Delete Event</a></form>
    </div>{% endif %}
</div>

{% empty %}

{% endfor %}
{% endblock content %}