<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'events.home' %}">My Club</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'events.home' '2021' 'March' %}">Calendar</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEventsMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Events
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownEventsMenuLink">
            <li class="nav-item">
              <a class="dropdown-item" href="{% url 'events.list' %}">All Events</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="dropdown-item" href="{% url 'events.add' %}">Add Event</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="{% url 'events.my_events' %}">My Events</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="{% url 'events.search' %}">Search Events</a>
            </li>
            {% endif %}
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownVenuesMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Venues
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownVenuesMenuLink">
            <li class="nav-item">
              <a class="dropdown-item" href="{% url 'events.venues.list' %}">All Venues</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="dropdown-item" href="{% url 'events.venues.add' %}">Add Venue</a>
            </li>
            {% endif %}
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDownloadMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Download
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownDownloadMenuLink">
            <li class="nav-item">
              <a class="dropdown-item" href="{% url 'venue.text' %}">Venue as Text File</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="{% url 'venue.csv' %}">Venue as CSV File</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="{% url 'venue.pdf' %}">Venue as PDF File</a>
            </li>
          </ul>
        </li>
        {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'events.admin_approval' %}">Admin</a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}<li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
      <form class="d-flex" action="{% url 'events.venues.search' %}" method="post">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search Venues" aria-label="Search Venues" name="q">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
      {% if user.is_authenticated %}<ul class="navbar-nav px-2">
        <li class="nav-item"><span class="text-white-50 ml-2">{{user}}</span></li>
      </ul>{% else%}<div class="px-2"></div>{% endif %}
    </div>
  </div>
</nav>