{% extends 'events/base.html' %}

{% block title %}Search for: {{ q }}{% endblock title %}

{% block content %}
<div class="card">
    <div class="card-header">
        {%if q %}<p class="mb-3">You searched for: <span class="fst-italic">{{ q }}</span></p>{% else %}<h1>Search Events</h1>{% endif %}
    </div>
    <div class="card-body text-center">
        <form class="d-flex" action="{% url 'events.search' %}" method="post">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search Events" aria-label="Search Events" name="q" value="{{ q }}">
            <button class="btn btn-outline-light text-dark" type="submit">Search</button>
        </form>
    </div>
    {% if q %}
    <!-- <h1 class="mb-3">You searched for: <span class="fst-italic">{{ q }}</span></h1> -->
    {% if events|length > 0 %}
    <p class="text-center text-center border-bottom border-secondary pb-1 mb-3"><span class="border-bottom-2 border-secondary pd-1">{{ events|length }} event{% if events|length > 1 %}s{% endif %} found</span></p>
    {% endif %}

    {% for event in events %}
    <div class="card mb-5">
        <div class="card-header">{{event}}</div>
        <h5 class="card-title mt-3 mx-3">Venue: {{event.venue}}</h5>
        <p class="card-text">
        <ul>
            <li><strong>Date:</strong> {{event.event_date}}</li>
            <li><strong>Venue Website:</strong> {{event.venue.web}}</li>
            <li><strong>Manager:</strong> {{event.manager}}</li>
            <li><strong>Description:</strong> {{event.description}}</li>
            <li><strong>Attendees:</strong><br>
                {% for user in event.attendees.all %}
                {{user}}<br>
                {% endfor %}</li>
        </ul>
        </p>
        {% if user.is_authenticated and user == event.manager %}<div class="card-footer text-muted"><a href="{% url 'events.update' event.id %}" class="btn btn-outline-secondary btn-sm ">Update Event</a>
            <form action="{% url 'events.delete' event.id %}" method="post" onsubmit="return confirm('Do you really want to delete this event?');" class="d-inline">{% csrf_token %}<button type="submit" class="btn btn-outline-danger btn-sm mx-3">Delete Event</a></form>
        </div>{% endif %}
    </div>
    {% empty %}
    <p class="text-center fw-1 fs-6"><em>No event found</em></p>
    {% endfor %}

    {% else %}
    <!-- <p class="mb-3">Hey you forgot to search for a event</p> -->

    {% endif %}
</div>
{% endblock %}