{% extends 'events/base.html' %}

{% block title %}Search for: {{ q }}{% endblock title %}

{% block content %}
<div>

    {% if q %}
    <h1 class="mb-3">You searched for: <span class="fst-italic">{{ q }}</span></h1>
    {% if venues|length > 0 %}
    <p class="text-center text-center border-bottom border-secondary pb-1 mb-3"><span class="border-bottom-2 border-secondary pd-1">{{ venues|length }} venue{% if venues|length > 1 %}s{% endif %} found</span></p>
    {% endif %}
    {% for venue in venues %}
    <div class="card my-4">
        <div class="card-header">Venue</div>
        <h2 class="card-title mt-3 mx-3 h5">{{venue}}</h2>
        <p class="card-text">
        <ul class="list-group list-group-flush">
            <li class="list-group-item border-0">{{ venue.address }}</li>
            <li class="list-group-item border-0">{{ venue.zip_code }}</li>
            {% if venue.phone %}<li class="list-group-item border-0">{{ venue.phone }}</li>{% endif %}
            {% if venue.email_address %}<li class="list-group-item border-0">{{ venue.email_address }}</li>{% endif %}

            {% if venue.web %}<li class="list-group-item border-0"><a href="{{ venue.web }}" target="_blank">{{ venue.web }}</a></li>{% endif %}
            <li class="list-group-item border-0">Owner ID: {{ venue.owner }} {% if venue_owner.first_name %}({{ venue_owner.first_name|title }} {{ venue_owner.last_name|title }}){% endif %}</li>
            {% if venue_owner.email %}<li class="list-group-item border-0">Owner's Email: {{ venue_owner.email }}</li>{% endif %}
            <li class="list-group-item"><a href="{% url 'events.venues.show' venue.id %}" class="card-link link-primary">Read more <span class="visually-hidden">{{ venue }}</span></a></li>
        </ul><br>
        </p>
    </div>
    {% empty %}
    <p class="text-center fw-1 fs-6"><em>No venue found</em></p>
    {% endfor %}

    {% else %}
    <h1 class="mb-3">Hey you forgot to search for a Venue</h1>

    {% endif %}

</div>
{% endblock %}