{% extends 'events/base.html' %}

{% block content %}
{% if user.is_authenticated %}

{% if user == event.manager %}
<div class="text-center">
    <h1>Update Event...</h1>
    <form class="text-start" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-secondary">Update</button>
    </form>
</div>
{% else %}
<h2>Access Denied</h2>
<p>Only the event's Manager can update this event...</p>
<p class="mb-2">Current user: {{ user }}<br>Event manager: {{ event.manager }}</p>

{% endif %}

{% else %}

<h1 class="mb-5">Sorry! You must be Logged in to view this page...</h1>
<a class="" href="{% url 'login' %}">Login Here.</a>
{% endif %}

{% endblock content %}