{% extends 'events/base.html' %}

{% block title %}Update Venue: {{ venue }}{% endblock title %}


{% block content %}
{% if user.is_authenticated %}
<div class="text-center">
    <h1>Update Venue...</h1>
    <form class="text-start" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-secondary">Update</button>
    </form>
</div>
{% else %}
    {% include "./_page_access_forbidden.html" %}
{% endif %}
{% endblock content %}