{% extends 'events/base.html' %}


{% block title %}Events for {{ venue }}{% endblock title %}


{% block content %}
<h1>List Events</h1>


{% for event in events %}
<a href="{% url 'events.show' event.id %}">{{ event }}</a><br />
{% endfor %}

{% endblock content %}