{% extends 'events/base.html' %}

{% block title %}Venues{% endblock title %}

{% block content %}
<div class="d-flex flex-column justify-content-center">
    <h1 class="mb-3">Venues...</h1>

    {% if venues %}
    <table class="table table-hover table-striped table-responsive-sm" aria-label="List of website addresses for venues" role="list">
        <caption>List of website addresses for venues</caption>
        <!-- <tr class="sr-only">
            <th scope="col" class="sr-only">Websites</th>
        </tr> -->
        {% for venue in venues %}
        <tr>
            <td>
                <a href="{% url 'events.venues.show' venue.pk %}" class="link-primary">{{ venue }}</a>
            </td>
            {% if user.is_authenticated %}
            <td class="text-end">
                <a href="{% url 'events.venues.update' venue.id %}" class="btn btn-outline-secondary btn-sm mx-2">Update</a>
                <form action="{% url 'events.venues.delete' venue.id %}" method="post" onsubmit="return confirm('Do you really want to delete this venue?');" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger btn-sm ml-3">Delete</button>
                </form>
            </td>
            {% endif %}
        </tr>
        {% empty %}
        {% endfor %}
    </table>
    {% else %}
    <p class="text-center">No venues</p>
    {% endif %}

</div>

{% comment %}
<nav class="mb-3 d-flex justify-content" style="gap: 1em">
    {% if venues.has_previous %}
    <a href="?page=1"><span aria-hidden="true">&laquo;</span> First<span class="visually-hidden"> page</span></a>
    <a href="?page={{ venues.previous_page_number }}" class="mr-auto">Previous<span class="visually-hidden"> page</span></a>
    {% endif %}

    <span class="mx-auto">Page {{ venues.number }} of {{ venues.paginator.num_pages }}
    </span>

    {% if venues.has_next %}
    <a href="?page={{ venues.next_page_number }}" class="ml-auto">Next<span class="visually-hidden"> page</span></a>
    <a href="?page={{ venues.paginator.num_pages }}"> Last<span class="visually-hidden"> page</span><span aria-hidden="true">&raquo;</span></a>
    {% endif %}
</nav>
{% endcomment %}
{% if venues %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <!-- </nav> -->
        <!-- <nav class="mb-3 d-flex justify-content" style="gap: 1em"> -->

        {% if venues.has_previous %}
        <li class="page-item"><a href="?page=1" class="page-link"><span aria-hidden="true">&laquo;</span> First<span class="visually-hidden"> page</span></a></li>
        <li class="page-item"><a href="?page={{ venues.previous_page_number }}" class="page-link">Previous<span class="visually-hidden"> page</span></a></li>
        {% endif %}

        <!-- <li class="page-item active" style="align-self: center;" aria-current="page"><a class="nav-link disabled">Page {{ venues.number }} of {{ venues.paginator.num_pages }}</a></li> -->

        {% for i in venues.paginator.page_range %}

        {% if venues.number == i %}
        <li class="page-item active" style="align-self: center;" aria-current="page"><a class="page-link active" href="#">{{ i }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}


        {% if venues.has_next %}
        <li class="page-item"><a href="?page={{ venues.next_page_number }}" class="page-link">Next<span class="visually-hidden"> page</span></a></li>
        <li class="page-item"><a href="?page={{ venues.paginator.num_pages }}" class="page-link"> Last<span class="visually-hidden"> page</span><span aria-hidden="true"> &raquo;</span></a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
<style>
</style>

{% endblock %}