{% extends 'events/base.html' %}

{% block title %}Venue: {{ venue }}{% endblock title %}

{% block content %}
<!-- <div class="d-flex flex-column justify-content-center text-center">
    <h1 class="mb-3">{{ venue }}</h1>

</div> -->
<div class="card mb-5">
    <div class="card-header">Venue</div>
    <h5 class="card-title mt-3 mx-3">{{venue}}</h5>
    <p class="card-text">
    <ul class="list-group list-group-flush">
        <li class="list-group-item border-0">{{ venue.address }}</li>
        <li class="list-group-item border-0">{{ venue.zip_code }}</li>
        {% if venue.phone %}<li class="list-group-item border-0">{{ venue.phone }}</li>{% endif %}
        {% if venue.email_address %}<li class="list-group-item border-0">{{ venue.email_address }}</li>{% endif %}

        {% if venue.web %}<li class="list-group-item border-0"><a href="{{ venue.web }}" target="_blank">{{ venue.web }}</a></li>{% endif %}
        <li class="list-group-item border-0">Owner: {{ venue_owner }} {% if venue_owner.first_name %}({{ venue_owner.first_name|title }} {{ venue_owner.last_name|title }}){% endif %}</li>
        {% if venue_owner.email %}<li class="list-group-item border-0">Owner's Email: {{ venue_owner.email }}</li>{% endif %}
    </ul>
    <br />

    {% if venue.venue_image %}
    <img src="{{ venue.venue_image.url }}" alt="{{ venue }}" class="img-fluid mx-sm-3" width="500">
    {% endif %}

    </p>
</div>

{% endblock %}