{% extends 'base.html' %}


{% block title %}Page not found{% endblock title %}
    

{% block content %}
<h1>Page not found</h1>
    <p>Ooops... the page you're looking for was not found...</p>
    <p>You requested "{{ request_page }}"</p>
    
{% endblock content %}
