{% extends '../base.html' %}

{% block title %}About Me{% endblock title %}

{% block content %}
<h1>Contact</h1>
<form action="{% url 'website:contact' %}"  method="post" class="mb-5">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label" for="name">Name</label>
        <input class="form-control" type="text" name="name" id="name" placeholder="Enter your name"/>
      </div>
      <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" name="email" id="email" placeholder="Enter your email"/>
      </div>
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" name="title" id="title" placeholder="Enter the title of your message"/>
      </div>
      <div class="mb-3">
        <label class="form-label" for="message">Message</label>
        <textarea class="form-control" name="message" id="message" cols="30" rows="10"></textarea>
      </div>
      <div class="mb-3">
          <button type="submit" class="btn btn-primary">Send Message</button>
      </div>
</form>
{% endblock content %}
