{% extends '../base.html' %}

{% block title %}Contact{% endblock title %}

{% block contact %}

{% if not is_thank_you %}
     
{% endif %}
    
    <h1>Contact</h1>
    <p>Thank you for your message.</p>
    <p>Go back to <a href="{% url 'website:index' %}">the homepage</a></p>
{% endblock contact %}
